/* Resetando estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o corpo da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: white;
    background-color: transparent; /* Fundo transparente */
    overflow: hidden; /* Evita rolagem */
}

/* Contêiner principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Clima */
.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-bottom: 10px;
}

/* Data e Hora */
.datetime-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

.date {
    margin-bottom: 5px;
}
