/* Resetando estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o corpo da página */
body {
    background-color: rgba(0, 0, 0, 0);  /* Sem fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: #ffffff; /* Cor do texto - Branco */
}

/* Contêiner principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Relógio */
.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px; /* Tamanho maior para a hora */
    margin-bottom: 10px; /* Espaço entre elementos */
    color: #ffffff; /* Cor do texto - Branco */
    border: 3px solid rgba(0, 0, 0, 0.5); /* Borda preta translúcida */
    background-color: rgba(128, 128, 128, 0.4); /* Fundo cinza translúcido */
    padding: 20px;
    border-radius: 10px; /* Borda arredondada */
}

/* Clima */
.weather-container, .temperature-container, .date-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px; /* Tamanho maior para clima e temperatura */
    color: #ffffff; /* Cor do texto - Branco */
    border: 3px solid rgba(0, 0, 0, 0.5); /* Borda preta translúcida */
    background-color: rgba(128, 128, 128, 0.4); /* Fundo cinza translúcido */
    padding: 20px;
    border-radius: 10px; /* Borda arredondada */
    margin-bottom: 10px; /* Espaço entre elementos */
}

/* Data */
.date-container {
    font-size: 60px; /* Tamanho maior para a data */
}
